<h2 class="card-header">Create A New Post!</h2>
<form class="card-body" id="new-post-form">
    <div class="form-row">
        <h3>Name</h3>
        <input type="text" id="post-name" class="form-input" />
    </div>
    <div class="form-row">
        <h3>Content</h3>
        <input id="post-content" type="text" class="form-input" />
    </div>
    <button type="submit" class="btn">Create Post!</button>
</form>
<script src="/js/add-post.js"></script>