<h2 class="card-header">Sign Up</h2>
<form id="signup-form" class="card-body">
    <div class="form-row">
        <h3>Name</h3>
        <input id="signup-name" type="text" class="form-input" />
    </div>
    <div class="form-row">
        <h3>Email</h3>
        <input id="signup-email" type="text" class="form-input" />
    </div>
    <div class="form-row">
        <h3>Password</h3>
        <input id="signup-pass" type="password" class="form-input" />
    </div>
    <button type="submit" class="btn">Sign Up!</button>
    <a class="btn" href="/login">Or Log In!</a>
</form>

<script src="/js/sign-up.js"></script>