<section>
    {{> post-info post}}

    {{#if loggedIn}}
    <div>
        <form id="comment-form" class="card-body">
        <h3>Leave A Comment!</h3>
        <input id="comment-content" class="form-input" />
        <button type="submit" class="btn">Submit</button>
        </form>
    </div>
    {{/if}}
    {{comments post.comments}}
</section>

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}